.header {
    width: 100%;
    height: 60px;
    background: #1e1e1e;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
    position: fixed;
    align-items: center;
  
    top: 0;
    left: 0;
  }
  